.wp-block-narwhal-background {
  position: relative; }
  .wp-block-narwhal-background::before, .wp-block-narwhal-background::after {
    content: '';
    display: table; }
  .wp-block-narwhal-background::after {
    clear: both; }
  .wp-block-narwhal-background__inner {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1; }
  .wp-block-narwhal-background__background-underlay, .wp-block-narwhal-background__image-overlay {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0; }
  .wp-block-narwhal-background__background-underlay {
    overflow: hidden; }
  .wp-block-narwhal-background__image {
    height: auto;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%; }
    @supports ((-o-object-fit: cover) or (object-fit: cover)) {
      .wp-block-narwhal-background__image {
        height: 100%;
        left: 0;
        -o-object-fit: cover;
           object-fit: cover;
        -o-object-position: center;
           object-position: center;
        top: 0;
        transform: none;
        width: 100%; } }


/*# sourceMappingURL=background.css.map*/